{% extends base %}
{% load static %}

{% block items %}
<title>Corte de Caja</title>
<link rel="stylesheet" href="{% static 'styles/c_caja.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Corte de Caja</h2>
    <form method="POST" id="form_corte">
        {% csrf_token %}
        <div class="encabezado">
            <div class="usuario-fecha">
                <div>
                    <label for="id_caja">ID Caja asignada:</label>
                    <input type="text" class="form-control" id="id_caja" name="id_caja"
                        placeholder="ID Caja" value="{{id_caja}}" readonly>
                </div>
                <div>
                    <label for="id_fecha_corte">Fecha de terminación:</label>
                    <input type="datetime-local" class="form-control" id="id_fecha_corte" name="fecha_corte" required>
                </div>
            </div>
        </div>
        <div class="text-center mt-2 mb-5">
            <h5 class="text-danger"> <i class="bi bi-exclamation-triangle-fill"></i> Cuenta cuidadosamente <strong>la cantidad</strong> de billetes y monedas en tu caja</h5>
        </div>
        <div class="billetes-monedas mt-3">
            <div>
                <label for="id_mil">Billetes 1000:</label>
                <input type="number" class="form-control" id="id_mil" name="billetes_1000" min="0" value="0"> 
            </div>
            <div>
                <label for="id_quinientos">Billetes 500:</label>
                <input type="number" class="form-control" id="id_quinientos" name="billetes_500" min="0" value="0">
            </div>
            <div>
                <label for="id_doscientos">Billetes 200:</label>
                <input type="number" class="form-control" id="id_doscientos" name="billetes_200" min="0" value="0">
            </div>
            <div>
                <label for="id_cien">Billetes 100:</label>
                <input type="number" class="form-control" id="id_cien" name="billetes_100" min="0" value="0">
            </div>
            <div>
                <label for="id_cincuenta">Billetes 50:</label>
                <input type="number" class="form-control" id="id_cincuenta" name="billetes_50" min="0" value="0">
            </div>
            <div>
                <label for="id_veinte">Billetes 20:</label>
                <input type="number" class="form-control" id="id_veinte" name="billetes_20" min="0" value="0">
            </div>
            <div>
                <label for="id_monedas">Monedas:</label>
                <input type="number" class="form-control" id="id_monedas" name="monedas" step="0.01" min="0"
                    value="0.00">
            </div>
            <div>
                <label for="fondo_caja">Fondo de Caja:</label>
                <input type="number" class="form-control bg-black text-white" id="fondo_caja" name="fondo_caja" step="0.01" min="0"
                    value="0.00" readonly>
            </div>
        </div>
        <div class="form-bottom mt-4">
            <input type="submit" class="btn btn-primary" value="Registrar Corte" id="btnRegCorte">
        </div>
    </form>

    <!-- Overlay -->
                                                    <div id="overlay" style="display:none;">
                                                        <div class="spinner"></div>
                                                    </div>

    {% if form.errors %}
    <div class="alert alert-danger mt-3">
        {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label|title }}</strong>: {{ field.errors.as_text|striptags }}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<script src="{% static 'javascript/corteOverlay.js' %}"></script>
{% endblock %}