{% extends 'base_ventas.html' %}
{% load static %}

{% block items %}
<title>Menú Ventas</title>
<link rel="stylesheet" href="{% static 'styles/menu_ventas.css' %}">
{% endblock %}

{% block content %}
<style> 
    .container{
        margin-top: 2%;
    }
</style>
<div class="container container-custom h-100">
    <div class="row">
        <div class="col-md-8 bg-light p-4 rounded">
            <h2>Calendario</h2>
            <!-- Aquí iría la implementación del calendario -->
        </div>
        <div class="col-md-4 bg-white p-4 rounded overflow-auto">
            <h2>Pedidos</h2>
            <div class="order-item border-bottom border-2 pb-2 mb-2">
                <div class="order-date">17 de Mayo 2025</div>
                <p>Pedido: Adriana</p>
                <p>Folio: 4152637</p>
            </div>
            <div class="order-item border-bottom border-2 pb-2 mb-2">
                <div class="order-date">01 de Junio 2025</div>
                <p>Pedido: Arturo</p>
                <p>Folio: 5897586</p>
            </div>
            <div class="order-item border-bottom border-2 pb-2 mb-2">
                <div class="order-date">18 de Junio 2025</div>
                <p>Pedido: Momo</p>
                <p>Folio: 8927360</p>
            </div>
            <!-- Agregar más pedidos aquí -->
        </div>
    </div>
</div>

{% endblock %}