{% extends template %}
{% load static %}

{% block items %}
<title>Productos</title>
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-start align-items-start g-4">

        <!-- FORMULARIO A LA IZQUIERDA -->
        <div class="col-lg-4 offset-lg-1">
            <div class="card shadow-sm rounded p-4">
                <h4 class="mb-5 text-primary text-center">Registrar Productos</h4>
                <form class="row g-4" method="POST" id="form_productos">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" required name="nombre" id="nombre">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Existencias</label>
                        <input type="number" class="form-control" name="existencias" id="existencias" placeholder="10">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Precio $</label>
                        <input type="number" class="form-control" required name="precio" id="precio" placeholder="200">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Categoría</label>
                        <select class="form-select" required id="categoria" name="categoria">
                            <option selected disabled>Selecciona una categoría</option>
                            {% for cat in cats %}
                            <option value="{{cat.nombre}}"> {{cat.nombre}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Existencias mínimas</label>
                        <input type="number" class="form-control" required name="punto_reorden" id="punto_reorden"
                            placeholder="3">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Estado del producto</label>
                        <input class="form-check" type="checkbox" name="estado" id="estado" checked>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Sucursal</label>
                        <select class="form-select" required id="sucursal" name="sucursal">
                            <option selected disabled>Selecciona sucursal</option>
                            <option value="1">Vista Hermosa</option>
                            <option value="2">Moctezuma</option>
                            <option value="3">Ambas</option>
                        </select>
                    </div>

                    <div class="row mt-4 align-items-center d-none">
                        <label class="col-auto">¿El producto tiene receta?</label>
                        <input class="col-auto" type="checkbox" id="tiene_receta" onchange="mostrarReceta()">
                    </div>
                    <div id="receta_form" style="display:none;">
                        <label>Ingredientes y cantidades:</label>
                        <div id="ingredientes_list" class="mb-3"></div>
                        <button class="btn btn-success" type="button" onclick="agregarIngrediente()">Añadir
                            Ingrediente</button>
                    </div>

                    <!-- CAMBIO: reemplazamos input hidden por textarea para depuración -->
                    <textarea name="ingredientes_json" id="ingredientes_json" hidden></textarea>

                    <div class="col-12 text-center">
                        <input class="btn btn-primary w-100" type="submit" value="Guardar Producto" id="submit" />
                    </div>
                    <div class="col-md-6 text-center">
                        <button class="btn btn-danger w-100 d-none" id="editarBtn">Guardar Edición</button>
                    </div>
                    <div class="d-none">
                        <input type="text" value="" name="idP" id="idP">
                    </div>
                    <div class="col-md-6 text-center">
                        <button class="btn btn-secondary w-100 d-none" id="cancelarBtn" onclick="cancelarEdicion(event)">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- LISTA DE PRODUCTOS -->
        <div class="col-lg-6">
            <div class="card p-3 shadow-sm">
                <h4 class="text-primary text-center mb-3">Lista de Productos</h4>

                <div class="btn-group mb-3" role="group">
                    <button type="button" class="btn btn-outline-primary"
                        onclick="cambiarProductos('vista_hermosa')">Vista Hermosa</button>
                    <button type="button" class="btn btn-outline-primary"
                        onclick="cambiarProductos('moctezuma')">Moctezuma</button>
                </div>


                <!-- Productos de Vista Hermosa -->
                <div id="vhp" class="overflow-auto" style="max-height: 450px;">
                    {% for cat in cats %}
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th class="text-black fs-4  rounded-4" style="background-color: rgb(255, 210, 173);">{{ cat.nombre }}</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
                        {% for producto in prvh %}
                        {% if producto.categoria == cat.nombre %}
                        <div class="col">
                            <div class="card shadow-sm h-100 {%if producto.estado == False %} bg-info-subtle {% elif producto.existencias < producto.punto_reorden %} bg-danger-subtle {% elif producto.existencias == producto.punto_reorden %} bg-warning-subtle {% elif producto.existencias > producto.punto_reorden %} bg-success-subtle {% endif %}">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ producto.nombre }}</h5>
                                    <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                                    <p class="card-text rounded-2 p-1 bg-black fw-bold" style="color: azure;">Sucursal: Vista Hermosa</p>

                                    <!-- Botones -->
                                    <div class="mt-auto d-flex justify-content-between">
                                        <button class="btn btn-sm btn-primary" title="Ver detalles"
                                            id="modal"
                                            data-bs-toggle="modal" data-bs-target="#productoModal"
                                            data-id-producto="{{producto.id}}" data-categoria="{{producto.categoria}}"
                                            data-estado="{{producto.estado}}"
                                            data-existencias="{{producto.existencias}}"
                                            data-nombre="{{producto.nombre}}" data-precio="{{producto.precio}}"
                                            data-reorden="{{producto.punto_reorden}}">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                        <button class="btn btn-sm btn-warning" title="Editar" 
                                        
                                        onclick="editarProducto('{{producto.id}}','{{producto.categoria}}','{{producto.estado}}',
                                            '{{producto.existencias}}', '{{producto.nombre}}','{{producto.precio}}','{{producto.punto_reorden}}','{{producto.sucursal}}'
                                        )"
                                        
                                        >
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

                <!-- Productos de Moctezuma -->
                <div class="d-none overflow-auto" id="mcp" style="max-height: 450px;">
                    {% for cat in cats %}
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th class="text-black fs-4  rounded-4" style="background-color: rgb(172, 216, 255);">{{ cat.nombre }}</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
                        {% for producto in prmc %}
                        {% if producto.categoria == cat.nombre %}
                        <div class="col">
                            <div class="card shadow-sm h-100 {%if producto.estado == False %} bg-info-subtle {% elif producto.existencias < producto.punto_reorden %} bg-danger-subtle {% elif producto.existencias == producto.punto_reorden %} bg-warning-subtle {% elif producto.existencias > producto.punto_reorden %} bg-success-subtle {% endif %}">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ producto.nombre }}</h5>
                                    <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                                    <p class="card-text rounded-2 p-1 bg-black fw-bold" style="color: azure;">Sucursal: Moctezuma</p>

                                    <!-- Botones -->
                                    <div class="mt-auto d-flex justify-content-between">
                                        <button class="btn btn-sm btn-primary" title="Ver detalles"
                                            id="modal"
                                            data-bs-toggle="modal" data-bs-target="#productoModal"
                                            data-id-producto="{{producto.id}}" data-categoria="{{producto.categoria}}"
                                            data-estado="{{producto.estado}}"
                                            data-existencias="{{producto.existencias}}"
                                            data-nombre="{{producto.nombre}}" data-precio="{{producto.precio}}"
                                            data-reorden="{{producto.punto_reorden}}">
                                            <i class="bi bi-eye"></i>
                                        </button>

                                        <button class="btn btn-sm btn-warning" title="Editar" id="editar_p"
                                            onclick="editarProducto('{{producto.id}}','{{producto.categoria}}','{{producto.estado}}',
                                                '{{producto.existencias}}', '{{producto.nombre}}','{{producto.precio}}','{{producto.punto_reorden}}','{{producto.sucursal}}'
                                            )"
                                        >
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->

<div class="modal fade" id="productoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Datos del producto: </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered border-dark-subtle">
                    <thead>
                        <tr>
                            <th>Producto:</th>
                            <td id="modalNombre"></td>
                        </tr>
                        <tr>
                            <th>Categoría:</th>
                            <td id="modalCategoria"></td>
                        </tr>
                        <tr>
                            <th>Precio:</th>
                            <td id="modalPrecio"></td>
                        </tr>
                        <tr>
                            <th>Existencias mínimas</th>
                            <td id="modalReorden"></td>
                        </tr>
                        <tr>
                            <th>Existencia Actual</th>
                            <td id="modalExistencias"></td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td id="modalEstado"></td>
                        </tr>
                    </thead>
                </table>
                <!-- 
                <h3 id="modalNombre"></h3>
                <p id="modalCategoria"></p>
                <p id="modalPrecio"></p>
                <p id="modalReorden"></p>
                <p id="modalExistencias"></p>
                <p id="modalEstado"></p>
                -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'javascript/modal.js' %}"></script>
<script src="{% static 'javascript/editar_producto.js' %}"></script>
<script>
    function cambiarProductos(sucursal) {
        let div_vh = document.getElementById('vhp');
        let div_mcp = document.getElementById('mcp');

        if (sucursal === 'moctezuma') {
            div_mcp.classList.remove('d-none');
            div_vh.classList.add('d-none');
        } else if (sucursal === 'vista_hermosa') {
            div_vh.classList.remove('d-none');
            div_mcp.classList.add('d-none');
        }
    }

    function mostrarReceta() {
        var recetaForm = document.getElementById("receta_form");
        recetaForm.style.display = document.getElementById("tiene_receta").checked
            ? "block"
            : "none";
    }

    function agregarIngrediente() {
        const div = document.createElement("div");
        div.classList.add("border", "p-2", "rounded", "mb-2");
        div.innerHTML = `
    <div class="mb-2">
      <input class="form-control mb-1" type="text" name="ingrediente[]" placeholder="Ingrediente: leche" required>
      <input class="form-control mb-1" type="number" name="cantidad[]" placeholder="Cantidad: 250" required>
      <select class="form-select mb-1" name="unidad[]" required>
        <option value="">Unidad</option>
        <option value="ml">ml</option>
        <option value="g">g</option>
        <option value="Kg">Kg</option>
        <option value="L">L</option>
        <option value="cda">cda</option>
        <option value="pz">pz</option>
      </select>
      <button class="btn btn-sm btn-danger" type="button" onclick="this.parentNode.parentNode.remove()">❌ Eliminar</button>
    </div>
  `;
        document.getElementById("ingredientes_list").appendChild(div);
    }

    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOM completamente cargado");

        const form = document.getElementById("form_productos");
        if (!form) {
            console.warn("Formulario no encontrado");
            return;
        }

        form.addEventListener("submit", function (event) {
            console.log("Interceptando submit");

            // VALIDACIÓN de campos obligatorios antes de continuar
            const categoria = document.getElementById("categoria").value;
            const sucursal = document.getElementById("sucursal").value;

            if (
                !categoria ||
                !sucursal ||
                categoria === "Selecciona una categoría" ||
                sucursal === "Selecciona sucursal"
            ) {
                event.preventDefault();
                alert("Categoría o Sucursal NO SELECCIONADA.");
                return;
            }

            // PROCESAR INGREDIENTES
            let ingredientes = [];
            document.querySelectorAll("#ingredientes_list > div").forEach((div) => {
                const ingrediente = div
                    .querySelector('input[name="ingrediente[]"]')
                    .value.trim();
                const cantidad = div
                    .querySelector('input[name="cantidad[]"]')
                    .value.trim();
                const unidad = div.querySelector('select[name="unidad[]"]').value.trim();

                if (ingrediente && cantidad && unidad) {
                    ingredientes.push({
                        nombre: ingrediente,
                        cantidad: cantidad,
                        unidad: unidad,
                    });
                }
            });

            // ACTUALIZAR CAMPO JSON
            const ingredientesInput = document.getElementById("ingredientes_json");
            ingredientesInput.value = JSON.stringify(ingredientes);

            console.log("Ingredientes generados:", ingredientesInput.value);

            // No prevenir submit para que el formulario se envíe
        });
    });


</script>
{% endblock %}