{% extends 'base_gerencial.html' %}
{% load static %}

{% block items %}
<title>Códigos/Categorias</title>
<script src="{% static 'javascript/add_cat.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Formulario de Códigos -->
        <div class="col-md-6">
            <h4>Agregar Código</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="codigo" class="form-label">Código</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Introduce un código">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

            <!-- Tabla de Códigos -->
            <h5 class="mt-4">Lista de Códigos</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                    </tr>
                </thead>
                <tbody>
                    {% for codigo in codigos %}
                        <tr>
                            <td> {{codigo.codigo}} </td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>

        <!-- Formulario de Categorías -->
        <div class="col-md-6">
            <h4>Agregar Categoría</h4>
            <form method="post" id="form_cat">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría</label>
                    <input type="text" class="form-control" id="categoria" name="categoria"
                        placeholder="Introduce una categoría">
                </div>
                <button class="btn btn-success" id="guardar_cat" name="guardar_cat">Guardar</button>
            </form>

            <!-- Tabla de Categorías -->
            <h5 class="mt-4">Lista de Categorías</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí puedes iterar las categorías -->
                    {% for cat in cats %}
                        <tr>
                            <td> {{cat.nombre}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}